* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.gallery-item {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
}

.gallery-image {
  width: 340px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #595353;
}

.gallery-image:hover {
  transform: scale(1.07);
  cursor: pointer;
}